html {
    background: url("coffee-background.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}


body{
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
    font-size: calc(0.90em + 1vw)
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    transition: top 500ms ease-in-out;
    background: #362828;
}

nav.scroll-up,
nav:focus-within {
    top: 0;
}

nav.scroll-down {
    top: -100%;
}

#header-img {
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
}

.img-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.img-container h1 {
    align-self: center;
    font-size: 1.4em;
    color: #fff;
}

#toggle-menu {        
    display: inline-block;
    width: 2rem;
    padding: 1.5rem;
}

#toggle-menu span {
    display: block;
    align-self: center;
    height: 3px;
    width: 100%;
    margin: 8px;
    background-color: #fff;
}

#nav-bar {
    display: none;
}

#nav-bar.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background: #362828;
    width: 40%;
}

.nav-link {
    width: 100%;
    padding: 0.5em 0;
    border-top: 2px #fff solid;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    text-align: center;
}

.heading, 
#contact {
    background: #608a54;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
}

#basics, #background, #beans {
    justify-self: center;
    align-items: center;
    padding: 1em;
}

#video {
    width: 100%;
    border: none;
}

.who, .what, .why {
    margin-top: 20px;
    padding: 0.5em;
    background: #362828;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products div {
    margin: 1em 0;
    background: #362828;
}

.products img {
    width: 100%;
}

.copyright {
    font-size: 0.6em;
    padding-bottom: 0.5em;
}

#form label {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.6em;
}

#email, 
#submit {
    border: none;
    border-radius: 0.6em;
    height: 2rem;
}

#submit {
    font-size: 0.8em;
    background-color: #362828;
    color: #fff;
}

/***Styling for larger screens ***/

@media screen and (min-width: 1024px) {
    #toggle-menu {
        display: none;
    }
    
    #nav-bar {
        display: block;
        justify-self: end;
        align-self: center;
        padding-right: 1em;
    }
    
    .nav-link {
        color: white;
        text-decoration: none;
        padding: 0px 10px 0px 10px;
        border: none;
    }
    
    .nav-link:hover {
        text-decoration: underline 3px;
    }
}