body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "basics"
        "back"
        "beans"
        "contact"
        "footer";
    row-gap: 100px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#basics {
    grid-area: basics;
    justify-self: center;
    text-align: left;
}

#background {
    grid-area: back;
    justify-self: center;
    text-align: center;
}

#background iframe {
    padding: 20px;
}

#header-img {
    width: 300px;
    height: 200px;
}

#beans {
    grid-area: beans;
    text-align: center;
}
#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#products div {
    padding: 10px;
}

#products img, figcaption {
    width: 466px;
}

#products figcaption {
    padding-top: 10px;
    text-align: left;
}

#contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
}